* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: lightskyblue;
}

.video {
    margin-top: 8px;
}

p.info {
    position: absolute;
    color: #FFF;
    font-weight: bold;
    bottom: 30px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

div.scanarea {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.text {
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    margin-top: 5px;
    font-size: larger;
    color: #fff;
    text-align: center;
}

textarea {
    margin-top: 24px;
    resize: none;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
}
btn-start {

}

button {
    font-size: x-large;
}

.scan-button {
    margin-top: 48px;
    margin-left: 48%;
    width: 96px;
    height: 96px;
    border-width: 1px;
    border-color: #FFF;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.reset-button {
    margin-top: 24px;
    margin-left: 12px;
}

.scan {
    position: absolute;
    bottom: 80px;
    width: 80px;
    font-size: larger;
    color: #000;
    left: 75%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.turn {
    position: absolute;
    bottom: 80px;
    width: 80px;
    font-size: larger;
    color: #000;
    text-align: center;
    left: 30%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
